@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #121c21;
}
.container_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  border: solid 2px black;
  width: 600px;
  padding: 3.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: #1f1f1f93;
}
.book_form {
  margin-top: 1rem;
}
.book_form span {
  color: white;
}
.book_form label {
  color: white;
}
.book_form p {
  color: white;
}
.book_form input[type="text"],
.book_form input[type="email"],
.book_form input[type="date"],
.book_form input[type="time"] {
  font-size: 14px;
  display: block;
  width: 100%;
  border-radius: 6px;
  height: 2.5rem;
  background-color: #ffffff18;
  outline: none;
  border: none;
  padding: 0 1rem;
  color: white;
}
.book_form input[type="submit"] {
  background-color: #1c76a3;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.45s ease;
}
.container_form h1 {
  font-size: 64px;
  color: #cf764d;
  text-shadow: 4px 7px rgba(0, 0, 0, 0.76);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.664);
  font-size: 14px;
}
